@layer layout {
  :root {
    --mainGridGutter: 0;
    --mainGridMargin: 16px;

    color: hsl(210, 12%, 12.5%);
    background-color: hsl(240, 22%, 99%);

    [data-color-mode='dark'] {
      background-color: hsl(240, 5%, 9.8%);
      color: hsl(220, 7%, 93.5%);
    }
  }

  :root,
  body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: 8px;
  }

  .phbn__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
    padding: 0 var(--mainGridMargin) !important;
    place-items: center;
  }

  .phbn__header,
  .phbn__main,
  .phbn__footer {
    display: grid;
    width: 100%;
  }

  .phbn__header {
    grid-area: header;
  }

  .phbn__main {
    grid-area: main;
  }

  .phbn__footer {
    grid-area: footer;
  }

  .phbn__statsgl {
    left: initial !important;
    top: initial !important;
    right: 0;
    bottom: 0;
    transform: translate(-270px, -48px);
  }

  .phbn__loader {
    background-color: #060708;
    color: #fff;
  }

  .phbn__grid {
    position: fixed;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: end;
    pointer-events: none;
    padding: 0 var(--mainGridMargin) !important;

    .phbn__grid__column {
      width: 1px;
      height: 100%;
      grid-row: 1 / span 1;

      &:nth-child(n) {
        grid-column: span 3;
      }
      &:nth-child(2) {
        grid-column: 1 / span 3;
      }

      &:first-child {
        grid-column: 1 / span 1;
        /* margin-left: 16px !important; */
        place-self: start;
      }

      &:last-child {
        grid-column: 12 / span 1;
        /* margin-right: 16px !important; */
      }
    }
  }
}

@layer reset, base, tokens, recipes, utilities;
