@layer layout {
  @font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Geist-Variable.woff2') format('woff2');
  }

  :root {
    --mainGridGutter: 0;
    --mainGridMargin: 16px;
    /* --backgroundColor: #060708; */
    --backgroundColor: #fff;

    background-color: var(--backgroundColor);

    color: hsl(210, 12%, 12.5%);
  }

  html {
    font-family: 'Geist Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  }

  :root,
  body {
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    font-size: 8px;
    position: relative;
  }

  .lenis {
    height: auto;

    &.lenis-smooth {
      scroll-behavior: auto !important;

      &[data-lenis-prevent] {
        overscroll-behavior: contain;
      }
    }

    &.lenis-stopped {
      overflow: hidden;
    }

    &.lenis-scrolling iframe {
      pointer-events: none;
    }
  }

  .phbn__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    width: 100%;
    min-height: 100dvh;
  }

  .phbn__header {
    grid-area: header;
  }

  .phbn__main {
    grid-area: main;
    min-height: 0;
  }

  .phbn__footer {
    grid-area: footer;
  }

  .phbn__header,
  .phbn__main {
    display: grid;
    width: 100%;
  }

  .phbn__statsgl {
    left: initial !important;
    top: initial !important;
    right: 0;
    bottom: 0;
    transform: translate(-270px, -48px);
  }

  .textreveal__segment__parent {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@layer reset, base, tokens, recipes, utilities;
